# Ignore everything inside src
src/*
src/**/*.o
src/**/*

# But allow subdirectories so Git can see inside them
!src/*/
!src/*/*/

# Allow .asm and Makefiles in subdirectories
!src/*/*.asm
!src/*/Makefile